**/target
**/target-eclipse
**/wrapper
**/.settings
**/.project
**/.classpath
.project
.settings/
target/
target-eclipse/
build/
.gradle/
.classpath
wrapper/
/bin/
/.DS_Store
config.private.groovy

/.idea/
/.slcache/
/out/
/test/cli/
